---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<img src="https://github.com/AxonBPGC/Axon/blob/master/assets/images/BITS_Goa.png?raw=true">
<div>A coming together of to-be engineers with a quench of getting to the the intricacies in a field as wide as Cognitive Neuroscience. With aim to expose the fields of Neuro Technology to everyone on campus we strive to provide  resources,  host events and provide a platform to all our club members. An organisation, which uses the understanding and application of human cognition to keep our dopamine levels high, we call ourselves -Axon, the neuroscience club of BITS Goa.</div>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
